
body{
   background-color: #eee;
    margin: 0;
}

.nav{
    font-family: 'Bubblegum Sans', cursive;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a:link{
    display:inline-block;
    padding:10px;
    text-decoration: none
}
.nav a:hover{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none
}

#headerhome{
    width: 100%;
    height:236px;
    background-color:#D84934;
    margin: 0;
}
#headerraster{
    width: 100%;
    height:236px;
    background-color:#000;
    margin: 0;
    background-image: url(../assets/raster_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}
#headervector{
    width: 100%;
    height:236px;
    background-color:#9564A6;
    margin: 0;
    background-image: url(../assets/vector_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}
#headerprint{
    width: 100%;
    height:236px;
    background-color:#D84934;
    margin: 0;
    background-image: url(../assets/indesign_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}
#headertbm{
    width: 100%;
    height:236px;
    background-color:#535353;
    margin: 0;
    background-image: url(../assets/tbm_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}
#headercontact{
    width: 100%;
    height:236px;
    background-color:deepskyblue;
    margin: 0;
}
h1{
    font-family: 'Gugi', cursive;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 40pt;
    text-shadow: 2px 2px 1px #666666;
}
h2{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    margin-top: 50px
}
p{
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    max-width: 640px;
    margin: auto;
    padding-top: 20px;
    font-size: 15pt;
    
}

#projects{
    display: grid;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: 320px 320px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    justify-content:center;
    grid-template-rows: auto;
    grid-template-areas: "side p1";
    justify-items:center;
    
    
}
#vectormain{
    display: block;
    margin: auto;
    width: 600px;
    border: solid
    
}

video{
    display: block;
    margin: auto;
}
iframe{
    display: block;
    margin: auto;
}

object{
    width: 340px;
    grid-area: side;
    
}

#paragraph1{
    width: 340px;
    margin-top: 0;
    grid-area: p1;
}


#rasterimage{
    width: 340px;
    grid-area: side;
    
}

footer{
    background-color: #434343;
    height: 102px;
    width: 100%;
    margin-top:80px;
            
        
}
#footertext{
    font-family: sans-serif;
    color: white 
}